<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>{% block title %}Default Title{% endblock %}</title>
</head>
<body>
    <div class="styled-block">
    <header>
        <h1>Teacher Panel</h1>
<!--        <nav>-->
<!--            <ul>-->
<!--                <li><a href="/">Home</a></li>-->
<!--                <li><a href="/about">About</a></li>-->
<!--                <li><a href="/contact">Contact</a></li>-->
<!--            </ul>-->
<!--        </nav>-->
<!--    </header>-->

    <main>
        {% block content %}
        <!-- Child templates will inject their content here -->
        {% endblock %}
    </main>
        <h4>
    <a href="{{ url_for('teacher_panel') }}">Teacher Panel</a>|
    <a href="{{ url_for('logout') }}">Logout</a>
        </h4>
    <footer>
        <p>Copyright &copy; 2024. All Rights Reserved.</p>
    </footer>
    </div>
</body>
</html>